<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Login Application</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/style.css">
    <script type="text/javascript" src="/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/js/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/js/lib/angular-cookies/angular-cookies.js"></script>
  </head>
  <body ng-app="login">

    <div ng-controller="authController" ng-view="">
    </div>

  </body>
  <script type="text/javascript" src="/js/application.js">  </script>
  <script type="text/javascript" src="/js/application.controller.js">  </script>
  <script type="text/javascript" src="/js/application.routes.js">  </script>
  <script type="text/javascript" src="/js/login-module/authController.js">  </script>



</html>
